/* FONTS  */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v27-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-v27-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v27-latin-700.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  background: #f5f3f4;
  font-family: "Roboto", sans-serif;
}

/* utils class */

.container {
  padding: 0 65px;
  max-width: 1440px;
  width: 100%;
  margin: auto;
}

/* header start */

.site-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 32px;
}
.site-logo {
  display: block;
}
.sitelogo-img {
  width: 131px;
  height: 40px;
}

.sitenav-list {
  display: flex;
}
.sitenav-item:not(:last-child) {
  margin-right: 48px;
}

.sitenav-link {
  color: rgba(18, 16, 12, 0.7);
  font-size: 16px;
  line-height: 24px;
}
.sitenav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 22px;
  background: #12100c;
  border-radius: 12px;
  color: #f9f9f9;
  font-size: 14px;
  line-height: 20px;
}

/* header end */

/* showcase start */
.showcase {
  display: flex;
  align-items: center;
  padding-top: 52px;
  padding-bottom: 176px;
}
.showcase-content {
  width: 550px;
  margin-right: 130px;
}
.showcase-heading {
  font-size: 80px;
  line-height: 88px;
  color: #12100c;
  margin-bottom: 38px;
}
.showcase-text {
  font-size: 23px;
  line-height: 32px;
  color: rgba(18, 16, 12, 0.7);
  margin-bottom: 48px;
}
.showcase-wrapper {
  display: flex;
  margin-bottom: 18px;
}
.showcase-btn {
  padding: 12px 46px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  text-align: center;
  color: #12100c;
  background: #ffae33;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  margin-right: 24px;
}
.showcase-wrapper-text {
  font-size: 16px;
  line-height: 24px;
}
.showcase-social {
  display: flex;
}
.showcase-social-item {
  margin-right: 28px;
}
.showcase-social-link {
  display: block;
}
.showcase-social-icon {
  width: 29px;
  height: 29px;
}
.showcase-img {
  display: block;
  width: 630px;
  height: 652px;
}
/* showcase end */

/* project start */
.project {
  text-align: center;
}
.project-heading {
  font-size: 54px;
  line-height: 64px;
  color: #12100c;
}
.project-text {
  font-weight: normal;
  font-size: 54px;
  line-height: 64px;
  text-decoration: line-through;
  color: #999795;
}
/* project end */
